body,
html {
    margin: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px 0px;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    padding-right: 3%;
    padding-left: 3%;
}

.nav {
    background-color: rgb(160, 160, 160);
    padding-top: 0px;
    margin-top: -4px;
}

.navbar a {
    color: white;
}

header img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.en {
    display: none;
}

.it {
    display: block;
}

.en-btn {
    display: none;
}

.it-btn {
    display: inline-block;
}

.lang-btn {
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding: 5px 0px;
    color: black !important;
}

.lang-btn button {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    border: none;
    border-radius: 8px;
    padding: 3px 10px;
}

.lang-btn button.active {
    background-color: rgb(160, 160, 160);
    color: white;
}

.lang-btn button:hover {
    background-color: rgb(160, 160, 160);
    color: white;
}

.choose-us {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 10% 10px 0px 50px;
    width: 90%;

    /*vertical alignment adjustment*/
    align-items: center;
}

.choose-us-text {
    width: 60%;
}

.services {
    width: 50%;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 30px;
    margin: 20px auto;
    border-radius: 30px;
    text-align: center;
}

.booking {
    text-align: center;
    margin: 40px 0px 60px 0px;
}

.booking2 {
    text-align: center;
    margin: 40px 0px 40px 0px;
    
}

.booking a{
    text-decoration: none;
}
.booking2 a{
    text-decoration: none;
}

.story {
    color: white;
    background-color: #284968;
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-top: 3%;
}

#story {
    width: 80%;
    margin: auto;
    padding: 7% 0px;
}

.parts {
    padding-top: 70px;
}

.services-parallax {
    background-image: url("cellphone-diagnose-repair-service-3.webp");
    min-height: 300px;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;

}

li {
    line-height: 1.5em;
}

.home-black-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 1.1rem;
}

.home-black-btn:hover {
    background-color: #284968;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 1.1rem;
}

.customer-service{
    width: 80%;
    margin: 50px auto;
}

footer {
    background-color: #284968;
    background: linear-gradient(to bottom, #284968, #43698d);
    padding: 30px 10px 10px;
}

.footers-container{
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 0px auto;
}

footer p {
    color: rgb(205, 205, 205);
    font-size: 13px;
    margin: 5px 0px;
    font-size: 10px;
    padding-left: 0px;
    
}

footer a {
    text-decoration: none;
    color: darkgray;
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.icons-text{
    display: inline-block;
    position:relative;
    
}
.svg-icon{
    display: block;
    margin-bottom: 2px;
    text-align: center;
    /*vertical-align:top;*/
}

.footers {
    padding: 10px 2%;
    line-height: 0.9em;
    

}
.lastPart{
    color: darkgrey;
    background-color: black;
    padding: 10px 40px;
    font-size: 10px;
    align-items: center;
}

.dashboard {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#productList {
    margin-top: 20px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
}

#statusFilter {
    padding: 10px;
    box-sizing: border-box;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.product:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .services {
        width: 60%;
    }

    .choose-us {
        padding: 70px 0px 0px;
        display: block;
        margin: 0px auto;
    }
    .choose-us-text {
        width: 90%;
        padding: 30px;
    }
    .choose-us-image {
        text-align: center;
    }
}
@media screen and (max-width:499px) {
    .navbar {
        display: block;
        padding: 0px;
    }

    .navbar a {
        display: block;
        padding: 4px 0px;
        margin-bottom: 2px;
        background-color: darkgrey;
    }

    .services {
        width: 70%;
        border-radius: 20px;
    }
    .footers-container{
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .footers{
        width: 40%;
        box-sizing: border-box;
    }
}

/*PAGINA MODULO UTENTI-------------------------------------*/
.form-title{
    text-align: center;
    padding: 30px;
}

.form-container{
    margin:0px auto 50px auto;
    width: 60%;
    background-color: #284968;
    padding: 30px 50px;
}

label{
    color: darkgrey;
    font-size: 12px;
}

textarea{
    margin: 3px 0px 10px 0px;
    border-radius: 8px;
    border: solid darkgrey 1px;
    width: 100%;
}
form{
    margin-bottom: 20px;
}

/*PAGINA LOGIN-------------------------------------*/
.login-form-container{
    margin:0px auto 50px auto;
    width: 60%;
    background-color: #284968;
    padding: 30px 50px;
    width: 40% !important;
}